.jumbotron {
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron .well {
  background-color: white;
}

.jumbotron .buttons {
  margin-bottom: 10px;
}

.login-button {
  top: calc(50vh - 54px);
}
.nav .fa-user {
  padding-right: 5px;
}

.document p {
  font-size: 3vmin;
  padding-top: 0.2em;
}