.jumbotron {
  padding-left: 30px;
  padding-right: 30px;
}

.jumbotron .well {
  background-color: white;
}

.jumbotron .buttons {
  margin-bottom: 10px;
}

.login-button {
  top: calc(50vh - 54px);
}
.nav .fa-user {
  padding-right: 5px;
}
.navbar-default .navbar-brand {
  font-size: 30px;
  color: #2a9fd6;
}

.navbar-default .navbar-brand:hover{
  cursor: pointer;
  color: #2a9fd6;
}
.document p {
  font-size: 3vmin;
  padding-top: 0.2em;
}