<br/>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">TabiTabi</h3>
      </div>
      <div class="panel-body">
        <p>Welcome to TabiTabi!</p>
        <p>TabiTabi will help you increase your vocabulary and reading ability in Japanese.</p>
      </div>
    </div>
    <a href="#" class="btn btn-primary">Login</a>
  </div>
</div>
{{outlet}}
