<div class="row">
  <div class="col-sm-8 col-sm-offset-2 document">
    <h3>Rubyとは</h3>
    <p>Rubyは、手軽なオブジェクト指向プログラミングを実現するための種々の機能を持つオブジェクト指向スクリプト言語です。本格的なオブジェクト指向言語であるSmalltalk、EiffelやC++などでは大げさに思われるような領域でのオブジェクト指向プログラミングを支援することを目的としています。もちろん通常の手続き型のプログラミングも可能です。</p>
    <p>Rubyはテキスト処理関係の能力などに優れ、Perlと同じくらい強力です。さらにシンプルな文法と、例外処理やイテレータなどの機構によって、より分かりやすいプログラミングが出来ます。</p>
    <p>まあ、簡単にいえばPerlのような手軽さで「楽しく」オブジェクト指向しようという言語です。どうぞ使ってみてください。</p>
    <p>Rubyはまつもと ゆきひろが個人で開発しているフリーソフトウェアです。</p>
  </div>
</div>

{{outlet}}
