<br/>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="jumbotron">
      <p>Welcome to <strong>TabiTabi!</strong></p>
      <p>TabiTabi will help you increase your vocabulary and reading ability in Japanese.</p>
      <br/>
      <div class="row">
        <div class="col-sm-6 text-center">
          <button href="#" class="btn btn-primary btn-lg">
            {{fa-icon "facebook" size="lg"}}
            Login with Facebook
          </button>
        </div>
        <div class="col-sm-6 text-center">
          <button href="#" class="btn btn-primary btn-lg">
            {{fa-icon "twitter" size="lg"}}
            Login with Twitter
          </button>
        </div>
      </div>
      <br/>
      <div class="row text-center">
        <div class="col-sm-12">
          <button href="#" class="btn btn-secondary btn-lg">
            No, thanks. Just let me in.
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
