<br/>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">TabiTabi</h3>
      </div>
      <div class="panel-body">
        <p>Welcome to TabiTabi v0.0.1</p>
        <p>This a simple flashcard review application.</p>
        <p>Enjoy.</p>
      </div>
    </div>
  </div>
</div>
{{outlet}}
